.homelab {
  background-image: url(../images/homelab.webp);
  background-position: center;
  background-size: cover;
}
.title {
  text-align: center;
  color: antiquewhite;
  border-radius: 0.6rem;
  margin: 0;
  backdrop-filter: blur(10px);
}

.diy {
  background-image: url(../images/diy.webp);
  background-position: center;
  background-size: cover;
}
